*.py linguist-language=Python linguist-vendored=false
*.js linguist-language=JavaScript
*.java linguist-language=Java
*.css linguist-language=CSS
*.scss linguist-language=SCSS
*.html linguist-language=HTML


