{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block css %}
    <link rel="stylesheet" href="{% static 'en/css/checkout.css' %}">
{% endblock css %}

{% block body %}





        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>{% translate "checkout" %}</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="shop-4column.html">shop grid</a></li>
                    <li class="breadcrumb-item active" aria-current="page">checkout</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    CHECKOUT PART START
        =======================================-->
        <section class="inner-section checkout-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert-info">
                            <p>{% translate "Returning customer? " %}<a href="login.html">{% translate "Click here to login<" %}</a></p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "Your order" %}</h4>
                            </div>
                            <div class="account-content">
                                <div class="table-scroll">
                                    <table class="table-list">
                                        <thead>
                                            <tr>
                                                <th scope="col">{% translate "Serial" %}</th>
                                                <th scope="col">{% translate "Product" %}</th>
                                                <th scope="col">{% translate "Name" %}</th>
                                                <th scope="col">{% translate "Price" %}</th>
                                                <th scope="col">{% translate "brand" %}</th>
                                                <th scope="col">{% translate "quantity" %}</th>
                                                <th scope="col">{% translate "action " %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for object in cart_detail %}
                                                <tr>
                                                    <td class="table-serial"><h6> {{ forloop.counter }} </h6></td>
                                                    <td class="table-image"><img src="{{object.product.image.url}}" alt="product"></td>
                                                    <td class="table-name"><h6>{{object.product}}</h6></td>
                                                    <td class="table-price"><h6>${{object.product.price}}</h6></td>
                                                    <td class="table-brand"><h6>{{object.product.brand}}</h6></td>
                                                    <td class="table-quantity"><h6>{{object.quantity}}</h6></td>
                                                    <td class="table-action">
                                                        <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                                        <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="chekout-coupon">
                                    <button class="coupon-btn">{% translate "Do you have a coupon code?" %}</button>
                                    <form class="coupon-form" method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="coupon_code" placeholder="Enter your coupon code">
                                        <button type="submit"><span>{% translate "apply" %}</span></button>
                                    </form>
                                </div>
                                <div class="checkout-charge">
                                    <ul>
                                        <li>
                                            <span>{% translate "Sub total" %}</span>
                                            <span>${{sub_total}}</span>
                                        </li>
                                        <li>
                                            <span>{% translate "delivery fee" %}</span>
                                            <span>${{delivery_fee}}</span>
                                        </li>
                                        <li>
                                            <span>{% translate "discount" %}</span>
                                            <span>${{discount}}</span>
                                        </li>
                                        <li>
                                            <span>{% translate "Total" %}<small>(Incl. VAT)</small></span>
                                            <span>${{total}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "Delivery Schedule" %}</h4>
                            </div>
                            <div class="account-content">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card schedule active">
                                            <h6>{% translate "express" %}</h6>
                                            <p>{% translate "0 min express delivery" %}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card schedule">
                                            <h6>{% translate "8am-10pm" %}</h6>
                                            <p>{% translate "8.00 AM - 10.00 PM" %}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card schedule">
                                            <h6>{% translate "Next day<" %}</h6>
                                            <p>{% translate "Next day or Tomorrow" %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "contact number" %}</h4>
                                <button data-bs-toggle="modal" data-bs-target="#contact-add">{% translate "add contact" %}</button>
                            </div>
                            <div class="account-content">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card contact active">
                                            <h6>{% translate "primary" %}</h6>
                                            <p>+8801838288389</p>
                                            <ul>
                                                <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit"></button></li>
                                                <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card contact">
                                            <h6>{% translate "secondary" %}</h6>
                                            <p>+8801941101915</p>
                                            <ul>
                                                <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit"></button></li>
                                                <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card contact">
                                            <h6>{% translate "secondary" %}</h6>
                                            <p>+8801747875727</p>
                                            <ul>
                                                <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit"></button></li>
                                                <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate "delivery address" %}</h4>
                                <button data-bs-toggle="modal" data-bs-target="#address-add">{% translate "add address" %}</button>
                            </div>
                            <div class="account-content">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card address active">
                                            <h6>{% translate "Home" %}</h6>
                                            <p>jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A</p>
                                            <ul class="user-action">
                                                <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit"></button></li>
                                                <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card address">
                                            <h6>{% translate "Office<" %}</h6>
                                            <p>east tejturi bazar, dhaka-1200. word no-04, road no-13/c, house no-4/b</p>
                                            <ul class="user-action">
                                                <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit"></button></li>
                                                <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="profile-card address">
                                            <h6>{% translate "Bussiness" %}</h6>
                                            <p>kawran bazar, dhaka-1100. word no-02, road no-13/d, house no-7/m</p>
                                            <ul class="user-action">
                                                <li><button class="edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#address-edit"></button></li>
                                                <li><button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card mb-0">
                            <div class="account-title">
                                <h4>{% translate "payment option" %}</h4>
                                <button data-bs-toggle="modal" data-bs-target="#payment-add">{% translate "add card" %}</button>
                            </div>
                            <div class="account-content">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="payment-card payment active">
                                            <img src="images/payment/png/01.png" alt="payment">
                                            <h4>{% translate "card number" %}</h4>
                                            <p>
                                                <span>****</span>
                                                <span>****</span>
                                                <span>****</span>
                                                <sup>1876</sup>
                                            </p>
                                            <h5>miron mahmud</h5>
                                            <button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="payment-card payment">
                                            <img src="images/payment/png/02.png" alt="payment">
                                            <h4>{% translate "card number" %}</h4>
                                            <p>
                                                <span>****</span>
                                                <span>****</span>
                                                <span>****</span>
                                                <sup>1876</sup>
                                            </p>
                                            <h5>miron mahmud</h5>
                                            <button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 alert fade show">
                                        <div class="payment-card payment">
                                            <img src="images/payment/png/03.png" alt="payment">
                                            <h4>{% translate "card number" %}</h4>
                                            <p>
                                                <span>****</span>
                                                <span>****</span>
                                                <span>****</span>
                                                <sup>1876</sup>
                                            </p>
                                            <h5>miron mahmud</h5>
                                            <button class="trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-check">
                                <input type="checkbox" id="checkout-check">
                                <label for="checkout-check">{% translate "By making this purchase you agree to our " %}<a href="#">{% translate "Terms and Conditions" %}</a>.</label>
                            </div>
                            <div class="checkout-proced">
                                <a href="invoice.html" class="btn btn-inline">{% translate "proced to checkout" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    CHECKOUT PART END
        =======================================-->


        <!--=====================================
                    MODAL ADD FORM START
        =======================================-->
        <!-- contact add form -->
        <div class="modal fade" id="contact-add">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form">
                        <div class="form-title">
                            <h3>{% translate "add new contact" %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "title" %}</label>
                            <select class="form-select">
                                <option selected>{% translate "choose title" %}</option>
                                <option value="primary">{% translate "primary" %}</option>
                                <option value="secondary">{% translate "secondary" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "number" %}</label>
                            <input class="form-control" type="text" placeholder="Enter your number">
                        </div>
                        <button class="form-btn" type="submit">{% translate "save contact info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>

        <!-- address add form -->
        <div class="modal fade" id="address-add">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form">
                        <div class="form-title">
                            <h3>{% translate "add new address" %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "title" %}title</label>
                            <select class="form-select">
                                <option selected>{% translate "choose title" %}</option>
                                <option value="home">{% translate "home" %}</option>
                                <option value="office">{% translate "office" %}</option>
                                <option value="Bussiness">{% translate "Bussiness" %}</option>
                                <option value="academy">{% translate "academy" %}</option>
                                <option value="others">{% translate "others" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "address" %}</label>
                            <textarea class="form-control" placeholder="Enter your address"></textarea>
                        </div>
                        <button class="form-btn" type="submit">{% translate "save address info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>

        <!-- payment add form -->
        <div class="modal fade" id="payment-add">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form">
                        <div class="form-title">
                            <h3>{% translate "add new payment" %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "card number" %}</label>
                            <input class="form-control" type="text" placeholder="Enter your card number">
                        </div>
                        <button class="form-btn" type="submit">{% translate "save card info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>
        <!--=====================================
                    MODAL ADD FORM END
        =======================================-->

        
        <!--=====================================
                    MODAL EDIT FORM START
        =======================================-->
        <!-- contact edit form -->
        <div class="modal fade" id="contact-edit">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form">
                        <div class="form-title">
                            
                            <h3>{% translate "edit contact info" %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "title" %}</label>
                            <select class="form-select">
                                <option value="primary" selected>{% translate "primary" %}</option>
                                <option value="secondary">{% translate "secondary" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "number" %}</label>
                            <input class="form-control" type="text" value="+8801838288389">
                        </div>
                        <button class="form-btn" type="submit">{% translate "save contact info<" %}</button>
                    </form>
                </div> 
            </div> 
        </div>

        <!-- address edit form -->
        <div class="modal fade" id="address-edit">
            <div class="modal-dialog modal-dialog-centered"> 
                <div class="modal-content">
                    <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
                    <form class="modal-form">
                        <div class="form-title">
                            <h3>{% translate "edit address info " %}</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "title" %}</label>
                            <select class="form-select">
                                <option value="home" selected>{% translate "home" %}</option>
                                <option value="office">{% translate "office" %}</option>
                                <option value="Bussiness">{% translate "Bussiness" %}</option>
                                <option value="academy">{% translate "academy" %}</option>
                                <option value="others">{% translate "others" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{% translate "address" %}</label>
                            <textarea class="form-control" placeholder="jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A"></textarea>
                        </div>
                        <button class="form-btn" type="submit">{% translate "save address info" %}</button>
                    </form>
                </div> 
            </div> 
        </div>
        <!--=====================================
                    MODAL EDIT FORM END
        =======================================-->

{% endblock body %}