{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block css %}
    <link rel="stylesheet" href="{% static 'en/css/orderlist.css' %}">
{% endblock css %}

{% block body %}


    

        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>{% translate "Order History" %}</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">{% translate "others" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "Orderlist" %}</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    ORDERLIST PART START
        =======================================-->
        <section class="inner-section orderlist-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="orderlist-filter">
                            <h5>{% translate "total order " %}<span>- (4)</span></h5>
                            <div class="filter-short">
                                <label class="form-label">{% translate "short by" %}:</label>
                                <select class="form-select">
                                    <option value="all" selected>{% translate "all order" %}</option>
                                    <option value="recieved">{% translate "recieved order" %}</option>
                                    <option value="processed">{% translate "processed order" %}</option>
                                    <option value="shipped">{% translate "shipped order" %}</option>
                                    <option value="delivered">{% translate "delivered order" %}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% for object in orders %}
                            <div class="orderlist">
                                <div class="orderlist-head">
                                    <h5> {{ forloop.counter }} </h5>
                                    <h5>{% translate "order" %} {{object.status}}</h5>
                                </div>
                                <div class="orderlist-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="order-track">
                                                <ul class="order-track-list">
                                                    <li class="order-track-item active">
                                                        <i class="icofont-check"></i>
                                                        <span>{% translate "order recieved" %}</span>
                                                    </li>
                                                    <li class="order-track-item {% if object.status == 'Processed' or object.status == 'Shipped' or object.status == 'Delivered' %}active{% endif %}">
                                                        <i class="icofont-{% if object.status == 'Processed' or object.status == 'Shipped' or object.status == 'Delivered' %}check{% else %}close{% endif %}"></i>
                                                        <span>{% translate "order processed" %}</span>
                                                    </li>
                                                    <li class="order-track-item {% if object.status == 'Shipped' or object.status == 'Delivered' %}active{% endif %}">
                                                        <i class="icofont-{% if object.status == 'Shipped' or object.status == 'Delivered' %}check{% else %}close{% endif %}"></i>
                                                        <span>{% translate "order shipped" %}</span>
                                                    </li>
                                                    <li class="order-track-item {% if object.status == 'Delivered' %}active{% endif %}">
                                                        <i class="icofont-{% if object.status == 'Delivered' %}check{% else %}close{% endif %}"></i>
                                                        <span>{% translate "order delivered" %}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <ul class="orderlist-details">
                                                <li>
                                                    <h6>{% translate "order id" %}</h6>
                                                    <p>{{object.code}}</p>
                                                </li>
                                                <li>
                                                    <h6>{% translate "Total Item" %}</h6>
                                                    <p>{{object.orderdetail.count}}</p>
                                                </li>
                                                <li>
                                                    <h6>{% translate "Order Time" %}</h6>
                                                    <p>{{object.order_time}}</p>
                                                </li>
                                                <li>
                                                    <h6>{% translate "Delivery Time" %}</h6>
                                                    <p>{{object.delivery_time}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="orderlist-details">
                                                <li>
                                                    <h6>{% translate "Sub Total" %}</h6>
                                                    <p>${{sub_total}}</p>
                                                </li>
                                                <li>
                                                    <h6>{% translate "discount" %}</h6>
                                                    <p>${{discount}}</p>
                                                </li>
                                                <li>
                                                    <h6>{% translate "delivery fee" %}</h6>
                                                    <p>${{delivery_fee}}</p>
                                                </li>
                                                <li>
                                                    <h6>{% translate "Total" %}<small>(Incl. VAT)</small></h6>
                                                    <p>${{total}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="orderlist-deliver">
                                                <h6>{% translate "Delivery location" %}</h6>
                                                <p>{{object.delivery_location}}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="table-scroll">
                                                <table class="table-list">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">{% translate "Serial" %}</th>
                                                            <th scope="col">{% translate "Product" %}</th>
                                                            <th scope="col">{% translate "Name" %}</th>
                                                            <th scope="col">{% translate "Price" %}</th>
                                                            <th scope="col">{% translate "brand" %}</th>
                                                            <th scope="col">{% translate "quantity" %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in object.order_detail.all %}
                                                            <tr>
                                                                <td class="table-serial"><h6> {{ forloop.counter }} </h6></td>
                                                                <td class="table-image"><img src="{{item.product.image.url}}" alt="product"></td>
                                                                <td class="table-name"><h6>{{item.product}}</h6></td>
                                                                <td class="table-price"><h6>${{item.product.price}}<small>/{% translate "kilo" %}</small></h6></td>
                                                                <td class="table-brand"><h6>{{item.product.brand}}</h6></td>
                                                                <td class="table-quantity"><h6>{{item.quantity}}</h6></td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="icofont-arrow-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">...</li>
                            <li class="page-item"><a class="page-link" href="#">65</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="icofont-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    ORDERLIST PART END
        =======================================-->


{% endblock body %}