{% extends 'auth_base.html' %}
{% load django_bootstrap5 %}
{% block body %}
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h3>The password has been changed!</h3>
                                <p><a href="{% url 'login' %}">log in again?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}